# Ignore the environment secrets! 
.env

# Ignore build artifacts (Crucial for speed)
target/
*.jar
*.war

# Ignore Version Control
.git
.gitignore

# Ignore IDE files
.idea/
.vscode/
*.iml

# Ignore OS junk
.DS_Store
Thumbs.db
