name: Survey App CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout Code
        uses: actions/checkout@v4

      - name: 2. Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: 3. Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: 4. Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true # This officially sends it to the cloud
          # Replace 'yourusername' with your actual Docker Hub username
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/survey-app:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
